body{
   background-color:lightgery;
   margin-left:10px;
}

header{
   border:1px solid black;
   padding:1px;
   background-color:powderblue;
   margin-left:0px;
}

main{
   padding:0px;
   margin-left:0px;
}

main image{
   width:683px;
   height:400px;
   display:block;
   margin-left:10px;  
   border:1px solid black;
}


.container {
   display: flex;
   margin-left:10px;
}

.box {
    border: 1px solid black;
    padding: 10px;
    width: 210px;
    height:180px;
    text-align: center;
    margin-top:10px;
    margin-left:10px;
    display:flex;
}

footer{
text-align:center;
padding:10px;
position:fixed;
bottom:0;
width:100%;
}
}





    
