body{
   background-color:lightgery;
   margin-left:10px;
}

header{
   padding:1px;
   background-color:powderblue;
   margin-left:0px;
   max-width:100%;
   text-align:centre;
}

main{
   padding:0px;
   margin-left:0px;
}

main image{
   width:683px;
   height:400px;
   display:block;
   margin-left:10px;  
   border:2px solid black;
}


.container {
   display: flex;
   margin-left:10px;
}

.box {
    border: 2px solid black;
    width: 215px;
    height:160px;
    text-align: center;
    margin:0 auto;
    margin-top:10px;
    margin-left:10px;
    display:flex;
}

img 1{
   margin-left:0px;
}

footer{
text-align:center;
padding:10px;
position:fixed;
bottom:0;
width:100%;
}
}





    
